<div class="navbar navbar-inverse" role="navigation" style="height: 100vh; background-image: url(../static/images/board.jpg); background-size: cover; background-repeat: no-repeat;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
        </div>
        <a class="navbar-brand" href="#aisha" > <h2 style="color: green; align-items: center; padding: 30px;">Click takes you to News</h2> </a>
    </div>
</div>